{% extends 'app/base.html' %}

{% block content %}
<body class="DashboardBody">
<section class="SectionOfAbout">
        <div class="DivOfAbout">
            <div class="ContentOfAbout">
                <h1>HG <span> Scents</span></h1>
                <p>
                    Welcome to HG Scents We are passionate about providing you with an exceptional 
                    fragrance shopping experience. Our store is dedicated to offering a wide range of high-quality 
                    perfumes from renowned brands around the world.

                    At our store, we understand that fragrance is a personal expression of individuality and style. 
                    That's why we carefully curate our collection to cater to diverse tastes and preferences. 
                    Whether you're seeking a classic scent, a trendy fragrance, or something unique and niche, 
                    we strive to have something for everyone.
                </p>
                <br>
                <h5>Molino 3 Bacoor City, Cavite</h5>
            </div>
        </div>
    </section>
</body>
{% endblock content %}