{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/base1.css' %}">
	<title>Navigation Bar</title>
</head>
<body>
	<nav class="navbar">
		<div class="navdiv">
			<div class="Logo"><img src="{% static 'images/H.png' %}"></div>
			<ul class="links">
				<li><a href="{% url 'home' %}">Home</a></li>
				<li><a href="{% url 'about' %}">About</a></li>
				<li><a href="#">Contact</a></li>
				<!--<button><a href="#">SignIn</a></button>
				<button><a href="#">SignUp</a></button> -->
			</ul>
		</div>
	</nav>
</body>
</html>